# Lab 8: RC Circuits

## Diego McHenry and Julia Gelfond

### April, 2024

Grader, hear my plea. I dont know what I'm doing. This lab doesnt seem very posterable to me. I literally spent about an hour thinking about what the main point is and frankly, now that ive 'finished' this poster, I still have no clue. I feel betrayed by this assignment even though I know I am likely the culprit and not the assignment itself. Please know, I am aware this has not been well done, but this is my first time making a poster like this, and I can't figure out where I was going with that sentence.

Introduction: on poster

Set Up: on poster

In [1]:
#potentially useful modules
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

import math

import numpy as np

import scipy.optimize as opt

Data collection: on poster

Main idea: we can calculate a time constant using a circuit's resistance and capacitance to predict its how quickly it charges and discharges

Analysis:

In [2]:
data = pd.read_excel("lab8.1.xlsx")
data

         Hz   Vin  Vout    out/in
0         5  10.0  10.0  1.000000
1        33  10.0  10.0  1.000000
2       168  10.0  10.0  1.000000
3       624  10.0   9.2  0.920000
4      1560  10.0   7.0  0.700000
5      4178  10.4   4.0  0.384615
6      5497  10.4   3.4  0.326923
7      9820  10.4   2.0  0.192308
8     27650  10.4   1.2  0.115385
9     44700  10.2   1.0  0.098039
10    55430  10.2   0.8  0.078431
11   284800  10.4   0.8  0.076923
12   434500  10.2   0.8  0.078431
13   563900  10.2   0.8  0.078431
14  2122000  10.8   0.8  0.074074
15  4074000  11.4   0.8  0.070175
16  5651000  12.4   0.8  0.064516

In [3]:
data2 = pd.read_excel("lab8.2.xlsx")
data2

,Unnamed: 0,Farads,Resistance,tau (s),d tau,experimental tau,exp dtau
0,given values,2.000000e-08,1000,0.000020,0.000000,0.000024,0.000002
1,tested values,3.160000e-08,1011,0.000032,0.000001,0.000024,0.000002

In [4]:
tlabeled=-(2e-5-2.4e-5)/2e-6
print(tlabeled)

1.9999999999999996

In [5]:
ttested=(3.19e-5-2.4e-5)/(2e-6+1.34e-6)
print(ttested)

2.365269461077845